concurrency: 0
listen: ":8001"
logging:
    ident: s3-helper
    level: info
newrelic:
    license: ""
    name: ""
s3_timeout: "10s"
s3_retries: 5
s3_region: "us-west-2"
s3_bucket: ""
statsd_addr: "127.0.0.1:8125" # required for s3-helper to start see VOD-1978
statsd_env: "dev"